* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    overflow-x: hidden;
    line-height: 1.1;
    font-size: 1.7rem;
}

#navebar {
    padding: 3px;
    background-color: rgb(53, 52, 52);
    width: 1296px;
    position: fixed;
}

#navebar img {
    width: 60px;
    text-align: center;
    padding-left:3px ;
}

#navebar .logo {
    display: inline-block;
    padding: 4px;
    padding-left: 10px;
}

#navebar .text {
    color: white;
    font-size: 12px;
}

#navebar ul {
    display: inline-block;
    text-align: end;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-top: 10px;
}

#navebar ul li {
    display: inline-block;
}

#navebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 4px 9px;
    margin-top: 10px;
}

#navebar ul li a:hover, #navebar ul li a.active {
    text-decoration: underline;
    color: rgb(155, 153, 153);
}

#header {
    background-image: linear-gradient(rgba(51, 51, 51, 0.7),rgba(51, 51, 51, 0.7)) ,url(pictures/gym.jpeg);
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 93vh;
    text-align: center;
    color: white;
}

#header .container {
    max-width: 110rem;
    margin: auto;
    overflow: hidden;
    padding: 5rem;
    padding-top: 14%;
    
}

#header .container h1 {
    font-size: 40px;
    padding: 5px;
}

#header .container p {
    font-size: 20px;
    padding: 5px;
}

#main {
    padding: 2rem 0;
    background-color: lightgrey;
    color: black;
}

#main .container {    
    max-width: 110rem;
    margin: auto;
    padding: 0 3rem;
}

#main .container .text {
    text-align: center;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    
}

#main .container .items {
    display: inline-block;
    height: 20rem;
}

#main .container .items .item {
    display: inline-block;
    width: 34rem;
    padding: 2rem;
    text-align: center;
}

#main .container .items .item .fa-solid {
    background-color: rgb(180, 180, 184);
    border-radius: 50%;
    padding: 2.5rem;
}

#who {
    background-color: rgb(139, 136, 136);
}

#who .container {
    margin: auto;
}

#who .container .img {
    display: inline-block;
}

#who .container .content {
   position: absolute;
   display: inline-block;
}

#who .container .content .text {
    padding: 0.5rem;
    text-align: center;
    font-size: 4rem;
    background-color: rgb(65, 63, 63);
    color: white;
}

#who .container .content p {
    padding: 0.5rem;
    margin: 2rem;
}

#who .container .content h3 {
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

#who .container .content ul {
    list-style: none;
    margin-left: 0.5rem;
}

#who .container .content ul li {
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: #eee 1px dotted;
    margin-left: 1.5rem;
}

#con {
    background-color: rgb(227, 225, 217);
}

#con .container {
    margin: auto;
}

#contact .container .form {
    display: inline-block;
    position: absolute;
    width: 50vw;
    background-color: rgb(199, 200, 204);
}

#con .container .text {
    font-size: 4rem;
    background-color: rgb(65, 63, 63);
    text-align: center;
    color: white;
}

#con .container img {
    padding: 5rem;
}

#contact {
    height: 50vh;
    margin: auto;
}

#contact .container {
    margin: auto;
    height: 50vh;
    width: 100vw;
}

#contact .container .form .text {
    font-size: 4rem;
    background-color: rgb(65, 63, 63);
    text-align: center;
    color: white;
    margin: 1rem 0;
}

#contact .container  p {
    padding: 1rem;
}

#contact .container .form label,
#contact .container .form input {
    display: block;
    padding: 0.5rem;
}

#contact .container .form input,textarea {
    width: 30vw;
    border-radius: 0.3rem;
    border: none;
}

#contact .container .form div {
    margin-left: 1rem;
}

#contact .container .form .btn {
    width: 30vw;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    background-color: gray;
    border: none;
    margin: 0.7rem 0;
    cursor: pointer;
}

#contact .container .form .btn:hover {
    background-color: rgb(184, 182, 182);
}


#contact .map {
    display: inline-block;
    position: absolute;
    width: 50vw;
    right: 0rem;
}

#contact .container .map iframe {
    width: 50vw;
    height: 61.6vh;
}

#footer .text {
    position: relative;
    padding: 2rem;
    background-color: gray;
    color: white;
    text-align: center;
    margin-top: 7.2rem;
}





